<h1>Find a Pet</h1>
    <div class="dropdown">
        <form>
            <select ng-change="getAnimal()" ng-model="animal_list">
                <option value="">Select Pet Type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="smallfurry">Small &amp Furry</option>
                <option value="reptile">Reptile</option>
                <option value="bird">Bird</option>
                <option value="horse">Horse</option>
                <option value="pig">Pig</option>
                <option value="barnyard">Barnyard</option>
            </select>
        </form>
    </div>

    <div ng-if="showThis == true">
        <button ng-click="favorite()">Add To Favorites!</button>
        <p>{{message}}</p>

        <h1>{{animal.animal.$t}} Type: {{animal.breeds.breed.$t}}</h1>
         <img class="animalImg" ng-src="{{animal.media.photos.photo[2].$t}}" />
            <div class="info_container">
                <h2>Name: {{animal.name.$t}}</h2>
                <h3>Age: {{animal.age.$t}}</h3>
                <h3>Sex: {{animal.sex.$t}}</h3>
                <p>Description: {{animal.description.$t}}</p>
                <p>City: {{animal.contact.city.$t}} State: {{animal.contact.state.$t}}</p>
            </div>
    </div>

<!--use ngOptions for reference-->
<!--<form name="animal_selection">-->
<!--<label for="pick_animal">Pick an Animal Type: </label>-->
<!--<select name="pick_animal" id="pick_animal" ng-model="animal">-->
<!--<option ng-options="animal for animal.name in animals" value="{{animal.name}}">{{animal.name}}</option>-->
<!--</select>-->
<!--</form>-->
<!--<tt>You Selected: {{data.pick_animal}}</tt>-->

<!--ng-change="getAnimal(data.pick_animal)"-->
<!--don't need name or id-->