<div class="container">
    <div class="row">
        <h1>My Faves</h1>
    </div>

    <div class="animalInfo">
        <div ng-repeat="favorite in favorites">

            <div class="row text-left">
                <h1> {{favorite.animal}} Type: {{favorite.breed}}</h1>
            </div>

            <div class="col-md-1">
                <h2>{{favorite.id}}.</h2>
            </div>

            <div class="col-md-5">
                <img ng-src="{{favorite.photo}}" />
            </div>

            <div class="col-md-6">
                <h2>Name: {{favorite.name}}</h2>
                <h3>Age: {{favorite.age}}</h3>
                <h3>Sex: {{favorite.sex}}</h3>
                <p>Description: {{favorite.description | limitTo: charLimit}}</p>
                <p>City: {{favorite.contact_city}} State: {{favorite.contact_state}}</p>
            </div>

        </div>
    </div>

</div>
